@charset "UTF-8";
/* CSS Document */


html {
  scroll-behavior: smooth;
}

/*--# GENERAL --*/
body {
font-family: "Raleway", sans-serif;
color: #272829;
}

a {
  color: #1E4E59;
}

a:hover {
  color: #208C8C;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
  	font-family: "Raleway", sans-serif;
	color: #5B5B5B;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

/*--# HEADER --*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
	
  		#header {
    	width: 300px;
    	background: #fff;
    	border-right: 1px solid #e6e9ec;
    	left: -300px;
  		}
}


/*--# MENU --*/

/* PC */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #7C7C7C;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #EFEFEF;
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
	
		.nav-menu a {
		width: 56px;
		}
	
		.nav-menu a span {
		display: none;
		color: #fff;
		}
}


.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
	color: #fff;
	background: #208C8C;
}

.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
	color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
	width: 100%;
	color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  	display: block;
}



/* MOVIL */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 30px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
  	color: #fff;
}

.mobile-nav-active {
  	overflow: hidden;
}

.mobile-nav-active #header {
  	left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  	color: #fff;
}


/*--# PRESENTACION --*/

#hero {
	width: 100%;
 	height: 100vh;
 	background: url("../img/bg.png") center no-repeat;
 	background-size: cover;
  	position: relative;
	text-align: center;
	}

#hero h1 {
	margin: 0 0 2rem 0;
	font-size: 90px;
	font-weight: 700;
	line-height: 56px;
	color: #EFEFEF;
}

#hero p {
	color: #fff;	
	margin: 15px 0 15px 0;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
}

span {
	font-size: 1.5rem;
}

#hero .btn-hero .btn-outline-primary {
	font-size: 16px;
	color: #fff;
	background-color: #00000030;
	font-weight: 600;
	border: 1px solid #fff;
	border-radius: 50px;
	margin-right: 20px;
	height: 40px;
	width: 150px;
}

#hero .btn-hero .btn-primary {
	font-size: 16px;
	color: #fff;
	background-color: #208C8C;
	border: 0;
	border-radius: 50px;
	font-weight: 600;
	height: 40px;
	width: 150px;
}

#hero .btn-primary:hover {
	background-color: #29B4B4;
}

#hero .btn-outline-primary:hover {
	color: #5B5B5B;
	background-color: #fff;
}

@media (max-width: 576px) {
	
	  #hero h1 {
		font-size: 25px;
		line-height: 20px;
	  }
	
	  #hero p {
		margin-top: 10px;
		font-size: 12px;
	  }
}

@media (max-width: 768px) {

	  #hero {
		text-align: center;
	  }
	
	  #hero h1 {
		font-size: 70px;
		line-height: 60px;
	  }
	  #hero p {
		margin-top: 10px;
		font-size: 20px;
		line-height: 24px;
	  }
}

/*--# GENERAL SECCIONES --*/

section {
  	padding: 60px 0;
  	overflow: hidden;
}

.section-title {
  	text-align: center;
  	padding-bottom: 30px;
}

.section-title h2 {
  	font-size: 0.875rem;
  	font-weight: 600;
  	padding: 0;
  	line-height: 1px;
  	margin: 0 0 20px 0;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	color: #7C7C7C;
}

.section-title h2::after {
  	content: "";
  	width: 120px;
  	height: 1px;
  	display: inline-block;
  	background: #208C8C;
  	margin: 4px 10px;
}

.section-title h2::before {
  	content: "";
  	width: 120px;
  	height: 1px;
  	display: inline-block;
  	background: #208C8C;
  	margin: 4px 10px;
}

.section-title p {
  	margin: 0;
  	margin: -15px 0 15px 0;
  	font-size: 2.25rem;
  	font-weight: 700;
  	text-transform: uppercase;
  	color: #1E4E59;
}


@media (max-width: 576px) {
	
		.section-title h2::after {
		width: 5rem;
		}

		.section-title h2::before {
		width: 5rem;
		}
	
		.section-title p {
  		font-size: 2rem;
		}
	
}

/*--# SOBRE MI --*/

#about .description {
	text-align: center !important;
	margin-left: 5rem;
	margin-right: 5rem;
	border-bottom: 1px solid #eaeaea;
}

#about .description h3 {
	color: #1E4E59;
	font-size: 18px;
	text-transform: uppercase;
}

#about .description img {
	width: 380px;
}

#about .content p:last-child {
  	margin-bottom: 0;
}

#about .bx {
  	color: #fff;
 	font-size: 30px;
}

#about .about-image {
    text-align: center;
	padding-top: 0;
	padding-bottom: 3rem;
}

#about .about-image img {
    border-radius: 100%;
    width: 360px;
    height: 350px;
    display: inline-block;
	box-shadow: 0 0 20px #ddd;
}

#about .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
	}


@media (max-width: 576px) {
	
		#about .about-image {
		padding-bottom: 1rem;
		}
	
		#about .about-image img {
		width: 250px;
		height: 250px;
		}
	
		#about .description {
		margin-left: 1rem;
		margin-right: 1rem;
		}
	
		#about .description h3 {
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1.6rem;
		}
			
}

@media (max-width: 768px) {
	
		#about .description h3 {
		line-height: 1.8rem;
	}
}
	
/* INTERESES */


.hobbies {
    position: relative;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.hobbie-thumb {
	text-align: center;
}

.hobbie-thumb .bx {
    background: #208C8C;
    border-radius: 50%;
    color: #fff;
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    transition: all ease-in-out 0.4s;
	font-size: 3rem !important;
}

.hobbies .hobbie-thumb h3 {
	text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 30px;
	padding-top: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	}

.hobbie-thumb .bx-swim {
	background-color: #F2A950;
}

.hobbie-thumb .bxs-tree {
	background-color: #1E4E59;
}

.hobbie-thumb .bx-glasses {
	background-color: #F28D52;
}

.hobbie-thumb .bx-camera {
	background-color: #273459;
}

@media (max-width: 576px) {
		
		.hobbies {
		padding-left: 3rem;
		padding-right: 3rem;
		}
	
		.hobbies .hobbie-thumb {
		padding-bottom: 2rem;
		}

		.hobbies .hobbie-thumb h3 {
		padding-top: 1.5rem;
		font-weight: 600;
		}
}

@media (max-width: 768px) {
		
		.hobbies .hobbie-thumb p {
		font-size: 14px;
		}
}

/*--# HABILIDADES --*/

.skills {
	background-color: #f8f9fa !important;
}

.skills .skills-content {
	border-bottom: 1px solid #eaeaea;
	padding: 1rem 0 2rem 0;
	margin: 0 0 3rem 0 ;
}

.skill {
	padding: 0 1.5rem 0 1.5rem;
}

.skills h3 {
	border-bottom: 1px solid #eaeaea;
	font-size: 0.875rem;
  	font-weight: 600;
  	line-height: 1px;
	padding-bottom: 1.5rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	color: #7C7C7C;
	text-align: center;
}

.skills .progress {
	height: 50px;
	display: block;
	background: none;
	padding-top: 10px;
}

.skills .progress .skill {
	padding: 0 0;
	margin: 0 0 2px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #7C7C7C;
	margin-left: 10px;
}

.skill .progress-bar-wrap {
	height: 10px;
  	background: #C9C9C9;
	border-radius: 5px;
	margin-top: 0.8rem;
	
}

.skill .progress-bar {
  	width: 1px;
  	height: 10px;
  	transition: 0.9s;
  	background-color: #208C8C;
	border-radius: 5px;
}

@media (max-width: 576px) {
	
		.skills .skill {
		padding: 2rem 1rem 2rem 1rem;
		}
		
		.skills .skills-content {
		margin-left: 1rem;
		margin-right: 1rem;
		}
}

@media (max-width: 768px) {
		
		.skills .skill {
		padding-bottom: 3rem;
		}
}

/*HERRAMIENTAS*/

.skills .tools {
	padding-left: 3rem;
	padding-right: 3rem;
}

.tools p {
	text-align: center;
}

.carousel-wrap {
	padding-top: 2rem;
  	position: relative;
	}


.item-skill i {
	color: #B7B7B7;
	font-size: 3.8rem;
	text-align: center;
	}

.item-skill {
	background-color: #fff;
	height: 130px;
	width: 140px;
	color: #B7B7B7;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px;
	font-weight: 500;
	padding-top: 22px;
	font-size: 13px;
}

.item-skill i:hover, .item:hover {
	color: #208C8C;
}


@media (max-width: 576px) {
	
		.skills .tools {
		padding-left: 1.2rem;
		padding-right: 1.2rem;
		}
}

/*--JUMBOTRON--*/

.jumbotron{
    background-color: #1E4E5920;
	background: url("../img/jumbotron.jpg") no-repeat;
	background-attachment: fixed;
	height:300px;
	text-align: center;
}

.display-2 {
	font-size: 3rem;
	color: #fff;
	font-weight: 700;
	padding-bottom: 1rem;
}

.lead {
	font-size: 1.25rem;
  	margin-top:-10px;
	color: #fff;
	font-weight: 500;
}

.jumbotron .btn-outline {
  	font-size: 16px;
	color: #fff;
	background-color: #00000030;
	font-weight: 600;
	border: 1px solid #fff;
	border-radius: 50px;
	margin-right: 20px;
	height: 40px;
	width: 150px;
}

.jumbotron .btn-primary {
	font-size: 16px;
	color: #fff;
	background-color: #208C8C;
	border: 1px solid #208C8C;
	border-radius: 50px;
	font-weight: 600;
	height: 40px;
	width: 150px;
}

.jumbotron .btn-primary:hover {
	background-color: #29B4B4;
	border: 1px solid #29B4B4;
}

.jumbotron .btn-outline:hover {
	color: #208C8C;
	background-color: #fff;
}


@media (max-width: 576px) {
	
		.display-2 {
		font-size: 2rem;
		margin-bottom: 1rem;
		}

		.lead {
		font-size: 1rem;
		color: #fff;
		}
}


@media (max-width: 768px) {
		
		.display-2 {
		font-size: 2rem;
		color: #fff;
		font-weight: 700;
		}

		.lead {
		font-size: 1rem;
  		margin-top:-10px;
		font-weight: 500;
		}

}


/*--# PORTAFOLIO --*/

.portfolio .portfolio-item {
  	margin-bottom: 30px;
}


.portfolio .portfolio-wrap {
	border-radius: 2%;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.portfolio .portfolio-wrap::before {
	content: "";
	background: #00000095;
	position: absolute;
	left: 30px;
  	right: 30px;
  	top: 30px;
  	bottom: 30px;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 3;
	transition: all ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

.portfolio .portfolio-wrap .portfolio-info p {
  	color: #fff;
  	font-size: 14px;
	font-weight: 500;
  	padding: 0;
  	margin: 0;
}

.portfolio .portfolio-wrap:hover::before {
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  	opacity: 1;
}



/*# DETALLES PORTAFOLIO*/
.portfolio-details {
  	padding: 30px;
}

.modal-title {
	color: #1E4E59;
	text-transform: uppercase;
  	font-size: 21px;
  	font-weight: 700;
}


.modal-body .portfolio-info {
  	padding-top: 2px;
}

.modal-body .portfolio-info h3 {
  	font-size: 18px;
  	font-weight: 700;
  	margin-bottom: 5px;
}

.modal-body .portfolio-info ul {
  	list-style: none;
  	padding: 0;
  	font-size: 15px;	
}

.modal-body .portfolio-info ul > li {
    list-style-type: none;
    border-bottom: 1px solid #eaeaea;
    padding-top: 12px;
    padding-bottom: 12px;
}

.modal-body .portfolio-info p {
  	font-size: 15px;
 	padding: 15px 0 15px 0;
}

@media (max-width: 576px) {
  		
		.modal-body .portfolio-info {
    	padding-top: 20px;
  		}
}

/*--SERVICIOS--*/

.services {
	background-color: #f8f9fa !important;
	}

.services .icon-box {
  	height: 18.75rem;
  	padding: 40px 30px;
  	transition: all ease-in-out 0.3s;
  	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 .125rem .25rem #00000025 !important;
}

.services .icon {
  	color: #208C8C;
  	font-size: 50px;
	text-align: center;
	font-weight: 500;
}

.services .icon-box h4 {
	color: #1E4E59;
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

.services .icon-box p {
  	line-height: 24px;
  	font-size: 15px;
  	margin-bottom: 0;
  	text-align: center;
}

.services .row-services {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 50px;
}


@media (max-width: 576px) {
	
	.services .icon-box {
  	padding: 50px 30px;
}
		
}

/*PROCESO DE TRABAJO*/

.services .process {
  	margin-top: 4rem;
  	position: relative;
}

.services .process-text h3 {
  	font-size: 1.5rem;
  	line-height: 1;
  	padding-top: 0.7rem;
  	position: relative;
}


.services .process-col {
  	position: relative;
  	min-height: 12rem;
	font-family: helvetica, sans-serif;
}

.services .process-col::before {
  	content: attr(data-item);
  	display: block;
  	font-size: 2.1rem;
  	text-align: center;
  	color: #f8f9fa ;
  	background-color: #26bfb5;
  	height: 48px;
  	width: 48px;
  	line-height: 48px;
  	border-radius: 50%;
  	box-shadow: 0 0 0 18px #f8f9fa !important;
  	position: absolute;
  	left: 20px;
  	top: 0;
}

.services .process-text {
  	margin-left: 7rem;
  	padding-right: 1rem;
}

.services .process-vline {
  	display: block;
  	width: 1px;
  	height: 100%;
  	background-color: #208C8C;
  	position: absolute;
	top: 0;
  	left: calc(35px + 24px);
	}


/*--Contacto--*/

.contact .info-icon {
  	width: 100%;
	margin-bottom: 2rem;

}

.contact .text-form {
	line-height: 1.8rem;
	margin-bottom: 2rem;
}

.contact .info i {
  	font-size: 25px;
  	color: #208C8C;
  	float: left;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	transition: all 0.3s ease-in-out;
	margin: 0 10px 0 0;
}

.contact .info h4 {
  	font-size: 16px;
  	font-weight: 600;
  	margin-bottom: 25px;
}

.contact .info p {
  	font-size: 15px;
  	font-weight: 600;
  	margin-bottom: 5px;
  	color: #45505b;
}

.form-row {
	width: 100%;
	position: relative;
	padding-bottom: 1rem;
}

.form-control, .custom-select {
	border-bottom: 1px;
	border-style: none none solid none;
	border-radius:0; 
	border-color: #E7E7E7;
	font-size: 15px;
	color: #7d7d7d !important;
}

textarea {
  resize: none;
}

.contact .email-form button[type="submit"] {
	background: #208C8C;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
	align: center;
}

.contact .email-form button[type="submit"]:hover {
	background: #29B4B4;
}

@media (max-width: 576px) {
	
		.row-form {
		padding: 0 1.5rem 0 1.5rem;
		}
		
		.contact .form {
		padding-top: 2rem;
		}
	
		.form-control, .custom-select {
		margin-bottom: 1.5rem;
		}
		
		.form-row {
		margin-bottom: -0.8rem;
		}
}

@media (max-width: 768px) {
		
		.contact .form {
		padding-top: 2.5rem;
		}
}

/*--Footer--*/

#footer {
  	background: #1E4E59;
	color: #fff;
  	font-size: 14px;
  	text-align: center;
  	padding: 30px 0;
}

#footer .social-links {
  	margin: 0 0 5px 0;
}

#footer .social-links a {
  	font-size: 18px;
  	display: inline-block;
  	color: #fff;
  	line-height: 1;
  	padding: 8px 0;
	border: 1px solid #fff;
  	margin-right: 4px;
  	border-radius: 50%;
  	text-align: center;
  	width: 36px;
  	height: 36px;
  	transition: 0.3s;
}

#footer .social-links a:hover {
  	background: #fff;
	border: 1px solid #fff;
  	color: #1E4E59 ;
  	text-decoration: none;
}

#footer .img-footer {
	width: 400px;
}
